@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html::-webkit-scrollbar {
  width: 0px;
  display: none;
}

html{
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


body {
  font-family: 'Urbanist', sans-serif;
  background-color: #f2f2f2;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.bg-content1{
  background-color: #181818;
  border: 1px solid #252525;
}

.bg-default-100{
  background-color: #181818;
}

::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}


.landing-section {
  overflow: visible;
  text-align: center;
}

.landing-section:before {
  position: absolute;
  content: '';
  z-index: -1;
  top: 0%;
  bottom: 0%;
  width: 150%;
  left: -25%;
  background: url(./assets/noise.webp) repeat,
    linear-gradient(-60deg, #049ba2 0%, #6782fb 120%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
}

.noise {
  z-index: -20;
  position: absolute;
  inset: 0;
  background-image: url(./assets/noise.webp);
  opacity: 0.4;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.noise-panel {
  position: relative;
  isolation: isolate;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(52 56 65 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(35 38 45 / var(--tw-bg-opacity));
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.bg-grid {
  background-size: 45px 45px;
  background-image: linear-gradient(to right, #2c2c2d .5px, transparent .5px),
    linear-gradient(to bottom, #2c2c2d .5px, transparent .1px);
  background-position: top center;
  image-rendering: optimizeSpeed;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    0%,
    white,
    95%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    0%,
    white,
    95%,
    transparent
  );
}


.main_container{
  width: 100dvw;
  height: 80dvh;
  display: flex;
}